<h2>Dish details</h2>
<p><%= dish.title %></p>
<% if (dish.image_url) { %>
    <img src="<%= dish.image_url %>" alt="">
<% } %>

<form action="/dishes/<%= dish.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>delete</button>
</form>

<a href="/dishes/<%= dish.id %>/edit">edit Dish</a>